/* Removes x-axis overflow space */
body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-size: 1em;
    background-color: #2C3033;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F5f5f7;
}

#header {
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

/* Phones and tablets 768 */
@media only screen and (max-width: 2500px) {

    .container {
        width: 80%;
        margin: auto;
        background-color: #FBFBFD;
        z-index: -1;
        margin-top: 80px;
    }

    .container-fluid {
        width: 100%;
        background-color: #222426;
    }

    .header-box {
        height: 4em;
        padding-top: 0.25em;
    }

    .header-attract {
        float: right;
        width: fit-content;
        margin-top: 7.5px;
        margin-right: 20px;
        padding-left: 5px;
        border-left: 1px solid #FBFBFD;
    }

    .nav-box {
        width: 100%;
        height: 2em;
        background-color: #259BCA;
        text-align: center;
    }

    .nav-shadow {
        height: 2em;
        border-bottom: 2.5px solid black;
    }
    
    .nav-element {
        padding-top: 7px;
        padding-bottom: 7px;
        float: left;
        width: 19.2%;
    }

    .link {
        text-decoration: none;
        color: inherit;
    }

    .nav-element:hover, .nav-element:active  {
        background-color: #90D277;
    }
    
    .nav-white-space {
        float: left;
        width: 1%;
        height: 32px;
        background-color: #259BCA
    }
    
    .logo {
        float: left;
        width: 45%;
        font-size: 2em;
        text-align: left;
        padding-top: 7.5px;
        padding-left: 15px;
    }

    .main-title-box {
        color: #222426;
        text-align: center;
        font-size: 2em;
        padding: 0.5em;
        padding-bottom: 0;
    }

    .photo-gallery-box {
        width: 100%;
        text-align: center;
        color: #FBFBFD;
    }

    .photo-gallery-title {
        font-size: 1.5em;
        padding-bottom: 7.5px;
    }

    .sub-title-box {
        color: #222426;
        text-align: center;
        padding: 0.5em;
        padding-bottom: 1em;
    }

    .primary-photo-title {
        font-size: 1.5em;
        padding: 0.5em;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .container-gallery {
        width: 80%;
        margin: auto;
        background-color: #90D277;
    }

    .description-container {
        width: 80%;
        margin: auto;
        background-color: #FBFBFD;
        color: #222426;
        text-align: center;
    }

    .container-etc {
        padding-top: 10px;
        width: 80%;
        margin: auto;
        background-color: #EB7248;
    }

    .container-gallery-2 {
        width: 80%;
        margin: auto;
        padding-top: 20px;
        background-color:#222426;
    }

    .primary-photo-box {
        background-color: #90D277;
    }

    .photo-alt {
        padding-right: 110px;
        /* Prevents text wrap */
        white-space: nowrap;
    }

    .photo-shadow-green {
        background-color: #78af64;
        overflow: hidden;
        position: relative;
    }

    .photo-shadow-green > img {
        margin-bottom: -25px;
    }

    .photo-shadow-blue {
        position: relative;
        background-color: #405c69;
    }

    .photo-shadow-orange {
        background-color: #be5c3b;
    }

    .fade-bottom {
        width: 100%;
        margin: auto;
        position: relative;
        bottom: 90px;
        height: 120px;
        margin-bottom: -100px;
        background-image: linear-gradient(to bottom, rgba(120, 175, 100, 0), rgba(120, 175, 100, 1));
    }

    .fade-bottom-gallery {
        width: 100%;
        margin: auto;
        position: relative;
        bottom: 60px;
        height: 60px;
        background-image: linear-gradient(to bottom, rgba(85, 122, 141, 0), rgba(85, 122, 141, 1));
        border-bottom: 1px solid rgba(85, 122, 141, 1);
    }

    .gallery-photo-footer {
        position: relative;
        text-align: left;
        width: 100%;
        margin: auto;
        height: fit-content;
        margin-top: -50px;
        margin-bottom: 10px;
        color: #FBFBFD;
        background-color: #222426;
        border-top: 1px solid #222426;
        border-bottom: 1px solid #222426;
    }

    .gallery-photo-footer > div {
        padding: 10px;
        padding-left: 25px;
    }

    .hide-text {
        visibility: hidden;
    }
    /* Need a better n selector to hightlight this */
    .photo-alt-alt {
        padding-top: 2.5px;
        padding-left: 110px;
        white-space: nowrap;
    }

    /* Width should be 100% on mobile, and 50% on wider screens */
    .primary-photo, .gallery-photo, .etc-box {
        padding: 10px 0;
        margin: auto;
        /* Works cause img is block level item in a div */
        text-align: center;
    }


    /* Images scale down and up based on viewport size */
    img {
        height: auto;
        max-width: 100%;
        /* Removes bottom space set by each image's parent container */
        margin-bottom: -2.5px;
    }

    .primary-photo-attr {
        width: 90%;
        margin: auto;
        /* Works cause img is block level item in a div */
        text-align: center;
        padding: 10px;
        padding-bottom: 20px;
        text-align: left;
        color: #222426;
    }

    #line-under {
        font-weight: bold;
        color: #F5f5f7;
        font-size: 1.1em;
    }

    .description-box > img {
        width: 50%;
        float: left;
        padding-left: 10px;
        margin-right: 10px;
    }

    .shipping-title {
        font-size: 1.5em;
        padding-bottom: 25px;
    }

    .desc-image {
        height: 300px;
    }

    .shipping-desc {
        position: relative;
        text-align: left;
        padding: 0 25px;
        bottom: 40px;
    }

    .fade-bottom-shipping {
        width: 100%;
        margin: auto;
        position: relative;
        bottom: 60px;
        height: 60px;
        background-image: linear-gradient(to bottom, rgba(235, 114, 72, 0), rgb(235, 114, 72, 1));
    }

    .white-space {
        content: " ";
        background-color: #F5f5f7;
        height: 2px;
        width: 100%;
        margin: 4px 0;
    }

    .mobile-perk-bubbles {
        width: 100%;
    }

    .perk {
        float: left;
        padding: 5px;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
        border-radius: 5px;
        color: #222426;
        background-color: rgba(251, 251, 253, 0.4);
        height: fit-content;
    }

    .perk:first-of-type {
        margin-top: 10px;
    }

    .container-footer {
        width: 80%;
        height: 65px;
        margin: auto;
        background-color: #FBFBFD;
        color: #222426;
    }

    .footer-box {
        padding-top: 25px;
        width: 100%;
        white-space: nowrap;
    }

    .footer-logo {
        float: left;
        width: 60%;
        padding-left: 25px;
    }

    .footer-other {
        float: left;
        text-align: right;
        width: 25%;
    }
}

/* Overflow solution for header and nav bar. Removes 1 header and nav element while resizing current elements. For small mobile devices. */
@media only screen and (max-width: 359px) {
    .hidden-element {
        display: none;
    }

    .header-attract {
        float: right;
        padding-right: 2.5px;
    }

    .nav-element {
        width: 24.25%;
    }

    .container-footer {
        height: 60px;
    }

    .footer-logo {
        width: 100%;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 459px) {

    .footer-logo {
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 0;
    }

    .footer-other {
        float: right;
        padding-right: 25px;
        width: 80%;
        margin: auto;
        text-align: right;
        margin: 25px 0;
    }

    .container-footer {
        height: 100px;
    }
}



/* Desktops and above */
@media only screen and (min-width: 768px) {
    .col-norm {
        float: left;
        margin: 5px;
        padding: 5px;
        width: 5%;
    }

    * {
        font-size: 105%;
    }

}

/* Resets floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



/* Color Palettes 
Nav Black: #222426

Light Black: #2C3033

Blue: #259BCA

Green: #90D277

Orange: #EB7248

White: #FBFBFD

*/