/* Removes x-axis overflow space */
body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-size: 1em;
    background-color: #2C3033;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F5f5f7;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;

}

/* Phones and tablets */
@media only screen and (max-width: 768px) {
    .col-s {
        width: 100%;
    }

    .container {
        width: 80%;
        margin: auto;
        background-color: #FBFBFD;
        z-index: -1;
        margin-top: 80px;
    }

    .container-fluid {
        width: 100%;
        background-color: #222426;
    }

    .header-box {
        height: 4em;
        padding-top: 0.25em;
    }
    
    .header-element {
        font-size: 1em;
        padding: 0 0 0 10px;
        width: 20%;
        float: left;
        border-left: 1px solid white;
    }

    .header-attract {
        margin-top: 7.5px;
    }

    .nav-box {
        width: 100%;
        height: 2em;
        background-color: #259BCA;
    }

    .nav-shadow {
        height: 2em;
        border-bottom: 2.5px solid black;
    }
    
    .nav-element {
        padding-top: 7px;
        padding-bottom: 7px;
        float: left;
        margin: auto;
        width: 24.25%;
        text-align: center;
    }

    .nav-element:hover {
        background-color: #90D277;
    }
    
    .nav-white-space {
        float: left;
        width: 1%;
        height: 32px;
        background-color: #259BCA
    }
    
    .logo {
        width: 40%;
        font-size: 2em;
        text-align: left;
        padding: 0.25em 0.25em 0 10px;
        margin-right: 0.5em;
        border: none;
    }
    
    .col-s {
        border: 1px solid black;
    }
    
    
    li {
        list-style-type: none;
        float: left;
    }

    .main-title-box {
        color: #222426;
        text-align: center;
        font-size: 2em;
        padding-top: 0.5em;
    }

    .sub-title-box {
        color: #222426;
        text-align: center;
        padding: 0.5em;
        padding-bottom: 1em;
    }

    .primary-photo-title {
        font-size: 1.5em;
        padding: 10px 0;
        margin-bottom: 10px;
    }

    .container-gallery {
        width: 80%;
        margin: auto;
        background-color: #90D277;
    }

    .container-gallery-2 {
        width: 80%;
        margin: auto;
        padding-top: 20px;
        background-color:#557a8d;
    }

    .primary-photo-box {
        background-color: #90D277;
    }

    .photo-alt {
        padding-top: 2.5px;
        padding-right: 110px;
        /* Prevents text wrap */
        white-space: nowrap;
    }

    /* Need a better n selector to hightlight this */
    .photo-alt-alt {
        padding-top: 2.5px;
        padding-left: 110px;
        white-space: nowrap;
    }

    /* Width should be 100% on mobile, and 50% on wider screens */
    .primary-photo, .gallery-photo {
        padding: 10px 0;
        margin: auto;
        /* Works cause img is block level item in a div */
        text-align: center;
    }

    /* Images scale down and up based on viewport size */
    img {
        height: auto;
        max-width: 100%;
    }

    .primary-photo-attr {
        width: 90%;
        margin: auto;
        /* Works cause img is block level item in a div */
        text-align: center;
        padding: 10px;
        padding-bottom: 20px;
        text-align: left;
        color: #222426;
    }

    #line-under {
        font-weight: bold;
        color: #F5f5f7;
        font-size: 1.1em;
    }
}

@media screen and (min-width: 525px) and (max-width: 768px) {

    .header-element {
        width: 19%;
        float: left;
    }
    
    .logo {
        width: 50%;
    }
}

/* Desktops and above */
@media only screen and (min-width: 768px) {
    .col-norm {
        float: left;
        margin: 5px;
        padding: 5px;
        width: 5%;
    }

}

/* Resets floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



/* Color Palettes 
Nav Black: #222426

Light Black: #2C3033

Blue: #259BCA

Green: #90D277

Orange: #EB7248

White: #FBFBFD

*/